body {
	margin: 0;
}
html, body, #leaflet {
	height: 100%;
    font-size: 16px;
}

/* Make trail names look like clickable links */
.clickable {
    color: blue; /* Set text color to blue */
    text-decoration: underline; /* Add underline to look like a link */
    cursor: pointer; /* Show pointer cursor on hover */
}

/* Add hover effect for better user experience */
.clickable:hover {
    color: darkblue; /* Slightly darker color on hover */
}

#sidebar{
    background-color:#ffffffD8;
}

#trailDescription{
    padding: 20px;
    margin: 10px 0px;
    border: 1px solid #000000;
}